test/test.json
[
    {
        "id": "924c3ea678583ea4",
        "type": "tab",
        "label": "car",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9cab525c1002c99",
        "type": "ui_button",
        "z": "924c3ea678583ea4",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "前",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 140,
        "wires": [
            [
                "ce6c10993d9cf3f4",
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "ce6c10993d9cf3f4",
        "type": "mqtt out",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/forward",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "774aac977b349bfc",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "ffe5ddfa8314a2c8",
        "type": "mqtt out",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/back",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "774aac977b349bfc",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "0a471fa32a1c1d39",
        "type": "ui_button",
        "z": "924c3ea678583ea4",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "後",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "ffe5ddfa8314a2c8",
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "8595475f41d8e955",
        "type": "mqtt out",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/left",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "774aac977b349bfc",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "8e6894e2a32d1fe4",
        "type": "ui_button",
        "z": "924c3ea678583ea4",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "左",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "8595475f41d8e955",
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "f01886bc9ccbe4e5",
        "type": "mqtt out",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/right",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "774aac977b349bfc",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c1d42d1b7ad62c7",
        "type": "ui_button",
        "z": "924c3ea678583ea4",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "右",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "f01886bc9ccbe4e5",
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "b50f2c6f502b8e29",
        "type": "mqtt out",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/stop",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "774aac977b349bfc",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "04caebcaffc77a07",
        "type": "ui_button",
        "z": "924c3ea678583ea4",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "停",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "b50f2c6f502b8e29",
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "a63531312362c8a4",
        "type": "debug",
        "z": "924c3ea678583ea4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "da77613b1fdaa248",
        "type": "mqtt in",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/forward",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "774aac977b349bfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "6ee5037c590e0f73",
        "type": "mqtt in",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/back",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "774aac977b349bfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 200,
        "wires": [
            [
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "468ebb1a85b5930e",
        "type": "mqtt in",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/left",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "774aac977b349bfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "8ee985bef19bdbe8",
        "type": "mqtt in",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/right",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "774aac977b349bfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "734c4828b62df430",
        "type": "mqtt in",
        "z": "924c3ea678583ea4",
        "name": "",
        "topic": "car/carcar/stop",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "774aac977b349bfc",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "a63531312362c8a4"
            ]
        ]
    },
    {
        "id": "eec6e2caf548adac",
        "type": "ui_group",
        "name": "開關",
        "tab": "9e253195.a496a",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "774aac977b349bfc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttgo.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e253195.a496a",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]