flows.json
[
    {
        "id": "bf8e6fd33ce8d816",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a451d20ffeb08516",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "前N1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "10fa6f71dcd00a68"
            ]
        ]
    },
    {
        "id": "10fa6f71dcd00a68",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/forward_001",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "16824776c5909b33",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/left_001",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "243b031a71eed097",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 2,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "左N1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 320,
        "wires": [
            [
                "16824776c5909b33"
            ]
        ]
    },
    {
        "id": "0a72802779487629",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/right_001",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "cee3e49737f1a526",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "右N1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "0a72802779487629"
            ]
        ]
    },
    {
        "id": "a76933f0e9cdd8e6",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/stop_001",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 860,
        "y": 380,
        "wires": []
    },
    {
        "id": "242ffc7046c80aae",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "停N1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "a76933f0e9cdd8e6"
            ]
        ]
    },
    {
        "id": "466c29be83e78c5f",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "前N2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "69fb7e0710d94290"
            ]
        ]
    },
    {
        "id": "69fb7e0710d94290",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/forward_002",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 1290,
        "y": 380,
        "wires": []
    },
    {
        "id": "5f6e3184acb6f2e1",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/left_002",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 1270,
        "y": 320,
        "wires": []
    },
    {
        "id": "89d30ed45ddac0ef",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 6,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "左N2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "5f6e3184acb6f2e1"
            ]
        ]
    },
    {
        "id": "541b5ad263c20a59",
        "type": "mqtt out",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "topic": "car/carcar/right_002",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c753f41b615bea47",
        "x": 1280,
        "y": 440,
        "wires": []
    },
    {
        "id": "642e58456e7e6aed",
        "type": "ui_button",
        "z": "bf8e6fd33ce8d816",
        "name": "",
        "group": "eec6e2caf548adac",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "右N2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "541b5ad263c20a59"
            ]
        ]
    },
    {
        "id": "d73d10a006c835e1",
        "type": "ui_template",
        "z": "bf8e6fd33ce8d816",
        "group": "eec6e2caf548adac",
        "name": "",
        "order": 1,
        "width": "12",
        "height": "9",
        "format": "<style>\n    .centered {\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        max-height: 200px;\n        /* 限制高度為600px */\n    }\n\n    img {\n        border: 1px solid #ddd;\n        border-radius: 4px;\n        padding: 5px;\n        width: 200px;\n        /* 設定圖片寬度 */\n    }\n\n    img:hover {\n        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);\n    }\n</style>\n<div class=\"centered\" >\n    <a href=\"http://192.168.220.188:5000/\" class=\"centered\">\n        <img src=\"http://192.168.220.188:5000/\" alt=\"Image\">\n    </a>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "eec6e2caf548adac",
        "type": "ui_group",
        "name": "運輸車",
        "tab": "9e253195.a496a",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c753f41b615bea47",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqttgo.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e253195.a496a",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]